<section class="discover">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <figure class="img">
          <img src="/assets/images/nature.jpg" alt="nature">
        </figure>

        <figure class="img">
          <img src="/assets/images/beach.jpg" alt="beach">
        </figure>

        <figure class="img">
          <img src="/assets/images/sites.jpg" alt="sites">
        </figure>
        <figure class="img">
          <img src="/assets/images/island.jpg" alt="island">
        </figure>
        <figure class="img">
          <img src="/assets/images/green.jpg" alt="green">
        </figure>
      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev>Prev</button>
        <button type="button" class="next" appNext>Next</button>
      </div>

    </div>
  </div>
</section>
